.container {
  margin: 15px;
}

.mapbox-container {
  border: 2px solid black;
  position: relative;
}

.mapboxgl-control-container {
  display: none;
}

.image-container {
  position: absolute;
  z-index: 9;
  pointer-events: none;
}
